__pycache__/
*.pyc
data/
.env
*.log
/logs/
/dags/*
/plugins/*
*.ipynb_checkpoints/


terraform/terraform-service-account.json
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform/